<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "../../../testng-1.0.dtd">


<suite name="POC Suite">
<listeners>
  <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>

    <test name="DummyTests">
        <classes>
            <class name="com.example.poc.SimpleTest"/>
        </classes>
    </test>
</suite>
